*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    width: 95vw;
}

.panel{
   height: 90vh;
   flex: 0.5;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
   border-radius: 50px;
   margin: 10px;
   transition: flex 1s ease-in;
}

.panel h2{
    bottom: 50px;
    left: 50px;
    position: absolute;
    color: white;
    font-size: 60px;
    opacity: 0;
    transition: opacity .3s ease-in .5s;
 }

 .panel.active{
    flex: 5;
 }

 .panel.active h2{
    opacity: 1;
 }

@media screen and (max-width: 576px) {
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}